<form action="" method="post">
  <p>書名</p>
  <input type="text" name="bookname">
  <p>著者名</p>
  <input type="text" name="author">
  <p>出版社名</p>
  <input type="text" name="publisher">
  <p>点数</p>
  <select name="points">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="登録">
</form>
<a href="/home">戻る</a>
