body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 1000px;
  margin: 20px auto;
}

h1 {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.delete {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
}

p {
  margin-bottom: 0;
}

button {
  margin: 20px;
}
